.header{
    width: 100%;
    height: 80vh;
    background-image: url("/images/mobile/image-hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include breakpoint-up(large){
        background-image: url("/images/desktop/image-hero.jpg");   
        height: 85vh;
    }
    .overlay{
        opacity: 1;
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: $black;
    }
    &__toggle{
        >span{
            display: block;
            width: 26px;
            height: 2px;
            background-color: #fff;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;
            &:not(:last-child){
                margin-bottom: 5px;
            }
        }
    }
    &.open{
        .header__toggle{
            > span:first-child{
                transform: rotate(45deg);
            }
            >span:nth-child(2){
                opacity: 0;
            }
            >span:last-child{
                transform: rotate(-45deg);
            }
        }
    }
   &__menu{
       position: absolute;
       background: transparent;
       margin-top: 1.5rem;
       z-index: 999;
       a{
           display: block;
           text-decoration: none;
           color: $dk-gray;
           padding: .5rem 1.5rem;
       }
   }
    nav{
        position: relative;
        padding: 2.0625rem;
    }
   
    &__links{
        a{
            position: relative;
            font-size: 16px;
            color: $white;
            transition: color 300ms ease-in-out;
            text-decoration: none;

            &:not(:last-child){
                margin-right: 32px;
            }
            &::before{
                content: "";
                position: absolute;
                height: 5px;
                left: 0;
                right: 0;
                bottom: -30px;
                background: $white;
                opacity: 0;
                transition: opacity 300ms ease-in-out;
            }    
            &:hover{
                color: $white;
                &::before{
                    opacity: 1;
                }
            }
        }

    }
    &__info {
        border: 3px solid white;
        width: 26rem;
        height: 17rem;
        margin: 9rem auto;
        padding: 0rem 1.875rem; 
        @include breakpoint-up(large){
            width: 34rem;
            margin: 8rem 10rem;
        }
        
        p {
        font-size: 50px;
        font-family: "Josefin Sans";
        text-transform: uppercase;
        color: $white;
        font-weight: 300;
    }
    }
    
  
}